<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<title>Sign-in | Register</title>
<link rel="stylesheet" href="static/stylesheets/bootstrap.css" media="screen">
</head>
<body>
  <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"> Vitea </a>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li class="active"><a href="#">Register</a></li>
    </ul>
  </div>
</div>
 
    <div class="row page-header well">
      <div class="span12 ">
        <div class ="span6">
          <p class=><h1 cleass="lead">Vitea</h1></p>
        </div>
        <div class="span5 pull-left">
          <div class="span6 pull-left">
            <form class="form-inline">
              <input type="text" class="input-small" placeholder="Email">
              <input type="password" class="input-small" placeholder="Password">
              <label class="checkbox">
                <input type="checkbox"> Remember me
              </label>
              <button type="submit" class="btn btn btn-primary">Sign in</button>
            </form>

          </div>
        </div>
      </div>
    </div>
<!--  Header end here -->
    <div class="row-fluid">
      <div class="span1">
      </div>
      <div class="span6">
        <div class="span12"></div>
          <p class="lead"><li class="lead">Right Job for candidate</li></p>
          <p class="lead"><li class="lead">Post a refral, Select the candidates</li></p>
          <p class="lead">Right Candidate for job</p>
        </div>

        <div class="span5">
          <p class="lead"><h2>Sign Up</h2></p>
          <p class="lead">Great things in life will always be free</p>
          <!-- Login form start here -->
          <form>
            <div class="controls">
              <div class="controls controls-row">
              <input class="input-medium" type="text" placeholder="First Name">
              <input class="input-medium" type="text" placeholder="Last Name">
            </div>
            <div class="controls">
                <input class="span7" type="text" placeholder="Your Email">
                <input class="span7" type="password" placeholder="New Password">
                
                <label class="control-label" >
                  <p class="lead">Birthday</p>
                </label>
                
                
                
                <div class="btn-group">
                  
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Day
                    <span class="caret"> </span>
                  </a>
                    <ul class="dropdown-menu">
                      <li >
                        <a>1</a>
                      </li>
                      <li>
                        <a>2</a>
                      </li>
                      <li>
                        <a>3</a>
                      </li>
                      <li>
                        <a>4</a>
                      </li>
                    </ul>
              </div>
              <div class="btn-group">
                  
                  <a class="btn dropdown-toggle" data-toggle="dropdown">
                    Month
                    <span class="caret"> </span>
                  </a>
                    <ul class="dropdown-menu" >
                      <li >
                        <a>Jan</a>
                      </li>
                      <li>
                        <a>Feb</a>
                      </li>
                      <li>
                        <a>March</a>
                      </li>
                      <li>
                        <a>April</a>
                      </li>
                    </ul>
              </div>
              <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Year
                    <span class="caret"> </span>
                  </a>
                    <ul class="dropdown-menu">
                      <li >
                        <a>1980</a>
                      </li>
                      <li>
                        <a>1981</a>
                      </li>
                      <li>
                        <a>1982</a>
                      </li>
                      <li>
                        <a>1983</a>
                      </li>
                    </ul>
              </div>
            
            </div>
            
            
            </div>
        </form>
          
          
          
        </div>
      </div>


    </div>

	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/static/javascripts/bootstrap.min.js"></script>
</body>
</html>